<div class="new-chat-container">
  <div class="new-chat-card">
    <h2>Nuevo Chat</h2>

    <form (submit)="createChat(); $event.preventDefault()">
      <label for="name">Nombre del contacto</label>

      <input id="name" type="text" placeholder="Nombre..." [formControl]="nameControl" />

      @if (nameControl.invalid && nameControl.touched) {
        <div class="error">El nombre es obligatorio</div>
      }

      <button type="submit" [disabled]="nameControl.invalid">Crear chat</button>
    </form>
  </div>
</div>
